body{
    background-color: #80808038 ;
    padding: 0px 90px;
}

/* ------------------------------------------------------------------------------------------------------ */
h1{
    color:#ffffff ;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    background-color:#000000;
    padding: 40px 90px;
    height: 60px;
    font-size: 50px;
}
/* ------------------------------------------------------------------------------------------------------ */

/* Styles for navbar(Reminder:  it sticks to the top)*/
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
}
nav li {
    display: inline;
    
}

nav li a {
    /* display: block; */
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
  }

  nav li a:hover {
    background-color: #474747;
  }
/* ------------------------------------------------------------------------------------------------------ */
h2{
    color:  #000000;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 100px;
    text-decoration: underline;
}
/* ------------------------------------------------------------------------------------------------------ */
h3{
    color: #000000; 
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 100px;
}
/* ------------------------------------------------------------------------------------------------------ */
p{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 100px;
}
/* ------------------------------------------------------------------------------------------------------ */
ul{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 100px;
}

dt{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 100px;
}
/* ------------------------------------------------------------------------------------------------------ */

/* Styles for all images */
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%;
    transition: width 2s, height 4s;
}

img:hover {
    width: 40%;
    height: 40%;
  }
/* ------------------------------------------------------------------------------------------------------ */

  /* Styles for Scrum vs Kanban table(though can be applied to all tables) */
  table{
      width: 75%;
      margin-left: 100px;
  }


  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
  }

  th{
    text-align: left;
   }
/* ------------------------------------------------------------------------------------------------------ */

  
